@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #fff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #18181b;
  }
}

html {
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

@font-face {
  font-family: 'CodeNewRoman';
  src: url('./assets/fonts/Code New Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CodeNewRoman';
  src: url('./assets/fonts/Code New Roman b.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-monocode: 'CodeNewRoman', ui-sans-serif, system-ui;
}
